.roombody {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #fefae0;
}

.roomcontrols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 1350px;
  margin-left: 100px;
}

.roombuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.endbtn {
  background-color: #b99470;
  height: 50px;
  width: 120px;
  margin: 0px 20px 0px 105px;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #edf1d6;
}

.otherbtn {
  height: 50px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  background-color: #fefae0;
}
.endbtn img {
  height: 50px;
  padding: 0px 0px 10px 4px;
}
.otherbtn img {
  margin-top: 5px;
  height: 40px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contents {
  display: flex;
  justify-content: space-around;
  margin: 50px 30px 0px 30px;
}

.localvideo {
  height: 350px;
  width: 600px;
  background-color: #fff;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remotevideo {
  height: 350px;
  width: 600px;
  background-color: #fff;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.videofeed img {
  height: 300px;
}

.chatbox {
  height: 750px;
  width: 1000px;
  background-color: #fff;
  border-radius: 48px;
}

.remotevideos {
  height: 1px;
  width: 1px;
}
.localvideos {
  height: 1px;
  width: 1px;
}
.time {
  margin-right: 70px;
  font-weight: 700;
  font-size: 32px;
  color: #b99470;
}
