.profile-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 80px;
  width: 1200px;
  padding-bottom: 30px;
  background: #5f6f52;
  border-radius: 48px;
}
.avatar {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-self: center;
}
.avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
}
.info-container {
  display: flex;
  align-self: center;
  padding: 15px;
  margin: 5px;
  color: #5f6f52;
}
.userinfo {
  display: flex;
  flex-direction: column;
  background: #fefae0;
  border-radius: 24px;
  padding: 15px;
  margin: 15px;
}
.languageinfo {
  display: flex;
  flex-direction: column;
  background: #fefae0;
  border-radius: 24px;
  padding: 15px;
  margin: 15px;
}
.edit {
  border-radius: 24px;
  background-color: #b99470;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 3px;
  padding: 10px;
  width: 100%;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
}
.languageinfo p {
  display: flex;
  align-self: center;
  justify-content: center;
}
.change {
  border-radius: 24px;
  background-color: #fefae0;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 40px;
}
.info-container p {
  padding: 10px 20px;
}
