.choose-btn {
  margin: 10px;
  padding: 7px;
  background-color: transparent;
  background-color: #edf1d6;
  color: #40513b;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.choose-btn.selected {
  background-color: #40513b;
  color: #edf1d6;
}
