.navcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 50px 0 50px;
}
.navcon .title {
  font-size: 35px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #5f6f52;
}
.afretnav {
  margin-left: 30px;
}
